<h1>{{userName}}'s list of things to do</h1>

<hr/>
<input type="text" #toDoTitle/>
<input type="button" (click)="addTask(toDoTitle.value)" value="Add Task"/>
<hr/>
<table class="table bordered">
    <tr *ngFor="let t of toDoList">
        <td>{{t.title}}</td>
        <td><input type="checkbox" [(ngModel)]="t.completed" /></td>
        <td [ngSwitch]="t.completed">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchCase="false">No</span>
        </td>
    </tr>
</table>
